html {
  font-family: helvetica;
  font-size: 18px;
  color: white;
}

body {
  width: 100%;
}

.container {
  width: 960px;
}

header {
  background-color: black;
  justify-content: center;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
 header p {
   font-size: 1rem;
 }

.banner {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
}

.banner-container {
  background-color: black;
  font-weight: bold;
  width: 20rem;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}

.banner-title {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.banner-text {
  font-size: 2rem;
}

nav {
  background-color: firebrick;
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-around;
}

.sub-nav {
  display: none;
  text-align: center;
}

.image-section {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.image-container {
  border: 4px solid black;
  width: 30%;
  justify-content: center;
}

.image-container img {
  height: 9rem;
  width: 9rem;
  padding: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-container p {
  background-color: black;
  padding: 0.5rem;
  text-align: center;
}

.bottom-container {
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.bottom-sub-container {
  width: 35%;
}

.title-text {
  background-color: black;
  padding: 1rem 2rem;
}

.information {
  color: black;
}

footer {
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .image-container {
    width: 47%;
  }

  #glasses {
    display: none;
  }

  nav p {
    display: none;
  }

  .sub-nav {
    display: block;
  }
}

@media only screen and (max-width: 470px) {
  #watch {
    display: none;
  }

  .banner {
    height: 15rem;
  }

  .banner-container {
    width: 100%;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    top: 10rem;
  }

  .banner-title {
    font-size: 0.77rem;
  }

  .banner-text {
    font-size: 1rem;

  }

  .image-section {
    justify-content: center;
  }

  .image-container {
    width: 90%;
  }

  .bottom-container {
    flex-wrap: wrap;
    justify-content: none;
  }

  .bottom-sub-container {
    width: 90%;
    padding-bottom: 0.5rem;
  }

  footer  div {
    text-align: center;
    margin: 0 auto;
  }
}
